# local model folders for testing / running bots / deploy
/gpt2_43k_checkpoint/
/gpt2_135k_checkpoint/
/gpt2_200k_checkpoint/
/gpt2_275k_checkpoint/
/gpt2_325k_checkpoint/
/gpt2_385k_checkpoint/
/gpt2_std_gpu_774M_120ksteps/
/gpt2_std_gpu_774M_60ksteps/
/gpt2_dailydialogue_355M_75Ksteps/
/GPT2_dailydialogue_355M_150Ksteps/
/GPT2_trivNatQAdailydia_774M_175Ksteps/
# the above can be downloaded through `download_models.py`
