# python basics
/__pycache__/
/.idea/
*scratch/


# default model folders for testing / running bots / deploy

*gp2*
*checkpoint*
*GPT*
*GPT2*
*GPTneo*
*GPTpeter*
*1pt3B*

# Notebooks (must be force-added for git)
*.ipynb
*notebooks/

# symspell data files
*symspell_rsc/

# text data files (must be force-added for git)
*conversation-data/

# gradio things
*.db
*.db-journal
*gradio_queue*
*gradio_data/
deploy-as-bot/flagged
deploy-as-bot/gradio_data
deploy-as-bot/gradio_queue.db
